<div id="features">
    <div class="wrapper">
        <ul>
            <li class="feature-2">
                <h4>Blog Title</h4>
                <p><input type="text" ng-model="blog.blogTitle" class="form-control" placeholder="Enter Blog Title"></p>
                <h4>Blog Content</h4>
                <p><textarea rows="5" cols="10" ng-model="blog.blogContent" class="form-control" placeholder="Enter Blog Content"></textarea></p>
                <a href="" ng-click="addBlog(blog)" class="button-1">Add Blog</a>
            </li>
            </ul></div></div>