<div id="primary-content">
    <div class="wrapper">
<h3>{{blog.blogTitle}}</h3><br>
<b>On:</b> {{blog.postedOn | date:'medium'}}<br>
<b>By:</b><img src="http://localhost:8181/middleware/getimage/{{blog.postedBy.email}}" height="20px" width="20px" class="img-circle">{{blog.postedBy.firstname}}&nbsp;{{blog.postedBy.lastname}}

<div>
<p ng-bind-html="content"></p>
</div>
<a><span class= "glyphicon glyphicon-heart-empty" ng-class="isLiked? 'liked' : 'default'" ng-click="updateLikes(blog.id)">
</span></a>{{blog.likes}} &nbsp;
<a ng-click="onShowComments()"><i class="fa fa-comment-o" style="font-size:18px"></i>{{comments.length}}</a><br><br>

{{exceptionMessage.message}}
<textarea rows="1" cols="10" ng-model="commentTxt"></textarea>
<a href="" ng-click="addComment(blog,commentTxt)"><i class="fa fa-paper-plane-o" style="font-size:25px;color:green" aria-hidden="true"></i></a>

<ul style="list-style:none" ng-show="showComments">
<li ng-repeat="comment in comments | orderBy:'-commentedOn'" >
<img src="http://localhost:8181/Middlewareprj2/getimage/{{comment.commentedBy.email}}" height="20px" width="20px" class="img-circle">{{comment.commentedBy.firstname}}<b>:&nbsp;</b>&nbsp;{{comment.commentTxt}}&nbsp;<b>On&nbsp;</b>{{comment.commentedOn | date:"medium"}}
</li>
</ul>
</div>
</div>