<div id="features">
    <div class="wrapper">
        <ul>
            <li class="feature-1">
            <span style="color:red">{{error.message}}</span>
                <h4>First Name:</h4>
                <p><input type="text" Data-ng-model="user.firstname" class="form-control" placeholder="Enter First Name"/></p>
                <h4>Last Name:</h4>
                <p><input type="text" Data-ng-model="user.lastname" class="form-control" placeholder="Enter Last Name"/></p>
                <h4>Email:</h4>
                <p><input type="email" Data-ng-model="user.email" class="form-control" placeholder="Enter Email" disabled/></p>
                <h4>Password:</h4>
                <p><input type="password" Data-ng-model="user.password" class="form-control" placeholder="Enter Password"/></p>
                <h4>Phone Number:</h4>
                <p><input type="number" Data-ng-model="user.phonenumber" class="form-control" placeholder="Enter Phone Number"/></p>
                <h4>Role:</h4>
                <p><select Data-ng-model="user.role">
                                     <option value="STUDENT">Student
                                     <option value="EMPLOYEE">Employee
                                     <option value="ALUMNI">Alumni
                                    </select></p>
                <a href="" Data-ng-click="updateUser(user)" class="button-1">Update Profile</a>
            </li>
            </ul></div></div>