<div id="primary-content">
    <div class="wrapper">
        <article>
            <h3>Hot springs harbour microbial diversity</h3>
            <p>A team of scientists from the National Collection of Industrial Microorganisms (NCIM) at National Chemical Laboratory, Pune have isolated untapped bacterial cultures from Unkeshwar hot springs on the bank of river Penganga in Maharashtra. These bacteria are being studied for their metabolic use in enzyme biotechnology and environmental remediation.</p>
<p>A total of 454 bacterial isolates obtained were mapped into 57 unique bacterial genera and 4 different bacterial phyla. Interestingly, 37 genera are not yet reported from Indian hot springs, were isolated for the first time in the study.  “Most of these genera (23 out of 37) were reported only in genetic material recovered from the environment from Indian and global hot springs. Furthermore, around 14 genera not previously cultivated and not detected in such studies of hot springs are documented in our study,” Mahesh Dharne, team leader and In-Charge of NCIM, told India Science Wire.</p>
           <img src="http://cdn.downtoearth.org.in/library/large/2018-02-28/0.11831400_1519801737_4067633894_ff02d69f69_b.jpg"/>
        </article>
        <a href="#/" class="more-link">Back</a>
    </div>
</div>