<!DOCTYPE html>
<html>
<head>
 <style>
.vertical-offset-100{
    padding-top:100px; }
</style>
<meta charset="ISO-8859-1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>     
  <link href="resources/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/> 
  <link href="resources/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="resources/css/theme.css" media="all" rel="stylesheet" type="text/css"/>    
  <script src="resources/js/fileinput.js" type="text/javascript"></script>
  <script src="resources/js/theme.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>     
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script> 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

<div class="container kv-main">
           <div class="form-group">
            <input class="file" type="file" 
            name="image"
            data-preview-file-type="any" 
            data-upload-url="http://localhost:8181/Middlewareprj2/uploadprofile">
        </div>
        </div>
 
       
</body>
</html>