<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="resources/css/login.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Home</title>
</head>
<body ng-app="myApp">
<header>
    <div class="wrapper">
        <h1>Simply Science<span class="color">.</span></h1>
        <nav>
            <ul>
            
<li class="dropdown"><a href="" class="dropdown-toggle"
data-toggle="dropdown" ng-show="loggedInUser.firstname!=undefined">
<img src="http://localhost:8181/Middlewareprj2/getimage/{{loggedInUser.email}}" alt="Upload Profile Picture" height="30px" width="30px" class="img-circle">
</a>
<ul class="dropdown-menu">
<li><a href="#/profilepicture">View</a></li>
<li><a href="#/uploadprofile">Change</a></li>           
</ul>
</li>

<li><a href="#/" ng-show="loggedInUser.firstname!==undefined">Welcome {{loggedInUser.firstname}}&nbsp;{{loggedInUser.lastname}}</a>

<li class="dropdown"><a href="" class="dropdown-toggle"
data-toggle="dropdown" ng-show="loggedInUser.firstname!=undefined">Job<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#/addjob" ng-show="loggedInUser.role=='ADMIN'">Add Job</a></li>
<li><a href="#/alljobs">Get all Jobs</a></li>
</ul></li>
 
 
<li class="dropdown"><a href="" class="dropdown-toggle"
data-toggle="dropdown" ng-show="loggedInUser.firstname!=undefined">Blog<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#/addblog">Add Blog</a></li>
<li><a href="#/blogsnotapproved" ng-show="loggedInUser.role=='ADMIN'">Blogs waiting for approval</a></li>
<li><a href="#/blogsapproved">Blogs</a></li>
</ul></li>

<li class="dropdown"><a href="" class="dropdown-toggle"
data-toggle="dropdown" ng-show="loggedInUser.firstname!=undefined"><span class= "glyphicon glyphicon-user"></span></a>
<ul class="dropdown-menu">
<li><a href="#/friends">Friends</a></li>
<li><a href="#/suggestedusers">Find Friend</a></li>
<li><a href="#/pendingrequests">Friend Requests</a></li>
</ul></li>

<li><a href="#/chat" ng-show="loggedInUser.firstname!=undefined"><span class= "glyphicon glyphicon-comment"></span></a></li>

<li class="dropdown"><a href="" class="dropdown-toggle"
data-toggle="dropdown" ng-show="loggedInUser.firstname">
<span class= "glyphicon glyphicon-bell">
<span class="rw-number-notification" ng-if="notificationCount>0">{{notificationCount}}</span></span></a>
<ul class="dropdown-menu">
<span class="dropdown-content">
<li ng-repeat="n in notifications">
<span ng-show="getNotificationsNotViewed.length==0">No pending Notifications</span>
<a href="#/getnotification/{{n.id}}">Blog titled &nbsp;<b>"{{n.blogTitle}}"</b>&nbsp; approval status is updated</a>
<hr>
</li>
</span>
</ul></li>

<li class="dropdown"><a href="" class="dropdown-toggle"
data-toggle="dropdown" ng-show="loggedInUser.firstname!=undefined"><span class= "glyphicon glyphicon-chevron-down"></span></a>
<ul class="dropdown-menu">
<li><a href="#/edituserprofile" ng-show="loggedInUser.firstname!==undefined">Edit Profile</a></li>
<li><a href="" ng-click="logout()" ng-show="loggedInUser.firstname!==undefined">Logout</a></li>
</ul></li>
<br>
<li> 
 <div class="navbar buttons" ng-show="loggedInUser.firstname!=undefined">
<input type="text" placeholder="search" class="navbar search" ng-model="user" height="30px" width="50px">
<a href="#/searchuser" class="btn navbar-btn btn-primary pull-right" type="button" ng-click="searchUser(user)">
<i class="fa fa-search"></i></a>
</div>
</li>

</ul>
</nav>
</div>
</header>
<div ng-view></div>
 <footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>Copyright 2014 CompanyName. All rights reserved.</p>
            <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Company</h5></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Meet The Team</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</footer>
</body>


<script type="text/javascript"
 src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" 
 src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
 <script type="text/javascript" 
 src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
 <script type="text/javascript" src="js/app.js"></script>
 <script type="text/javascript" src="controllers/usercontroller.js"></script>
 <script type="text/javascript" src="services/userservice.js"></script>
 <script type="text/javascript" src="controllers/jobcontroller.js"></script>
 <script type="text/javascript" src="services/jobservice.js"></script>
 <script type="text/javascript" src="controllers/blogcontroller.js"></script>
 <script type="text/javascript" src="controllers/blogdetailscontroller.js"></script>
 <script type="text/javascript" src="services/blogservice.js"></script>
 <script type="text/javascript" src="controllers/notificationcontroller.js"></script>
 <script type="text/javascript" src="services/notificationservice.js"></script>
 <script type="text/javascript" src="controllers/friendcontroller.js"></script>
 <script type="text/javascript" src="services/friendservice.js"></script>
 <script type="text/javascript" src="services/chatservice.js"></script>
 <script type="text/javascript" src="controllers/chatcontroller.js"></script>
 <script type="text/javascript" src="resources/js/sockjs.min.js"></script>
 <script type="text/javascript" src="resources/js/stomp.min.js"></script>
 
	  </html>